#produkty
  .section
    .prod-block
      .pb-image.right
        img(src='/images/product1.jpg')
      .pb-content
        .pb-text
          h3 ОБОЛОЧКИ ДЛЯ АРМАТУРЫ
          p ТМ iSHELL SF — оболочки на весь перечень арматуры.
    .prod-block
      .pb-image.left
        img(src='/images/product2.jpg')
      .pb-content
        .pb-text
          h3 ОБОЛОЧКИ ДЛЯ ОБОРУДОВАНИЯ
          p ТМ iSHELL SV — применяется для оборудования сложной конструкции.
    .prod-block
      .pb-image.right
        img(src='/images/product3.jpg')
      .pb-content
        .pb-text
          h3 ФЛАНЦЕВЫЕ КОЖУХИ
          p ТМ iSHELL FK — защитные фланцевые кожухи для арматуры и оборудования.
