#montazh
  .section
    h4 Монтажные работы
    p 
      | Компания «Флагман Продакшн» профессионально оказывает
      br
      | услуги монтажа съемной теплоизоляции
    ul.bxslider
      li
        img(src='/images/sl1.jpg')
      li
        img(src='/images/sl2.jpg')
      li
        img(src='/images/sl3.jpg')
    script.
      $(document).ready(function(){
      $('.bxslider').bxSlider();
      });
