.section
  ul.bxslider
    li
      p.title Съемная теплоизоляция ТМ iSHELL
      p Качественные изоляционные термочехлы и оболочки для арматуры и оборудования любой сложности.
      p Рассчитаны на t = -200...+1000 °С, P = 0,1...10 МПа.
      p Химически стойкие, огнестойкие, внутреннего и наружного исполнения.
      p Снижение теплопотерь до –500%. Срок окупаемости оболочек ТМ iSHELL от 3 мес.
      p Срок службы – 10 лет!
    li
      p.title Тепловизионные и акустические обследования
      p Обследование, проведенное профессионалами, поможет вам в сокращении издержек и потерь — а значит, повысит прибыльность предприятия.
    li
      p.title Компания, отвечающая за качество
      p «Флагман Продакшн» имеет собственную лабораторию, осуществляющую входной и выходной контроль всего сырья и готовых изделий.

script.
  $(document).ready(function(){
  $('.bxslider').bxSlider();
  });
